html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D4D9DE;
  background-image: url(./assets/background.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
